// COLORS
$primary-color: #141414;
$secondary-color: #c60000;
$tertiary-color: #327aff;

$dark-text: #585858;
$light-text: white;

// FONT
$default-font-family: 'Jost', sans-serif;;
$default-font-size: 16px;